<!DOCTYPE html>
<html>
  <head>
  <%- include ./partials/head %>
    <title>Detail Bayi</title>
  </head>
  <body>
    <h1><%= data_bayi.namabayi %></h1>
    <h3>Orang Tua : <%= data_bayi.OrangTua.namaortu %></h3>
    <h3>Petugas : <%= data_bayi.Mantri.namamantri %></h3>

  <div class="container">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>No.</th>
          <th>Vaksin</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>

      <% var i = 1 %>
      <% data_vaksin.forEach(list => { %>
        <tr>
          <td><%= i++ %></td>
          <td><%= list.Vaksin.namavaksin %></td>
          <% if (list.sudah == 1) { %>
            <td>Sudah</td>
          <% } else { %>
            <td>Belum</td>
          <% } %>
        </tr>
      <% }) %>

      </tbody>
    </table>
  </div>

  </body>
</html>