<!DOCTYPE html>
<html>
  <head>
  <%- include ./partials/head %>
    <title><%= data_bayi.namamantri %></title>
  </head>
  <body>

    <h3><%= data_bayi.namamantri %></h3>

    <div class="container">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>No.</th>
            <th>Nama bayi</th>
            <th>Jenis Kelamin</th>
            <th>Tanggal Lahir</th>
            <th class="text-center">Detail</th>
          </tr>
        </thead>
        <tbody>

        <% var i = 1 %>
        <% data_bayi.Bayis.forEach(list => { %>
          <tr>
            <td><%= i++ %></td>
            <td><%= list.namabayi %></td>
            <td><%= list.kelamin %></td>
            <td><%= list.ttl %></td>

            <td class="text-center"><a class='btn btn-info btn-xs' href="/officers/<%= data_bayi.id %>/<%= list.id %>"><span class="glyphicon glyphicon-edit"></span> Detail</a></td>
          </tr>
        <% }) %>

        </tbody>
      </table>
    </div>


  </body>
</html>