<!DOCTYPE html>
<html>
  <head>
    <%- include ./partials/head %>
    <title>Detail <%= data_bayi.namabayi %></title>
  </head>
  <body>
    <h3><%= data_bayi.namabayi %></h3>
    <h5>Nama Orang Tua : <%= data_bayi.OrangTua.namaortu %></h5>
    <h5>Nama Petugas : <%= data_bayi.Mantri.namamantri %></h5>


    <div class="container">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>No.</th>
            <th>Vaksin</th>
            <th class="text-center">Status</th>
            <th class="text-center">Action</th>
          </tr>
        </thead>

        <tbody>
          <% var i = 1 %>
          <% data_vaksin.forEach(list => { %>
            <tr>
              <td><%= i++ %></td>
              <td><%= list.Vaksin.namavaksin %></td>
              <% if (list.sudah == 1) { %>
                <td class="text-center">Sudah</td>
              <% } else { %>
                <td class="text-center">Belum</td>
              <% } %>

              <td class="text-center">
                <% if (list.sudah == 0) { %>
                  <form action="/officers/<%= data_bayi.Mantri.id %>/<%= data_bayi.id %>/<%= list.Vaksin.id %>">
                    <input type="submit" value="Ganti Status" />
                  </form>
                <% } else { %>
                  Sudah Di-vaksin
                <% } %>
              </td>
            </tr>
          <% }) %>
        </tbody>
      </table>
    </div>


  </body>
</html>