<!DOCTYPE html>
<html>
<head>
  <%- include ./partials/head %>
  <title>Parent</title>
</head>
<body>

<div class="container">
  <h3><%= data[0].OrangTua.namaortu %></h3>
  <h5>Daftar Anak <%= data[0].OrangTua.namaortu %></h5>
  <table class="table table-hover">
    <thead>
      <a href="/parents/<%= data[0].OrangTua.id %>/add" class="btn btn-primary btn-xs pull-right"><b>+</b> Data Anak Baru </a>
      <tr>
        <th class="text-center">No.</th>
        <th class="text-center">Name</th>
        <th class="text-center">Jenis Kelamin</th>
        <th class="text-center">Tanggal Lahir</th>
        <th class="text-center">Umur</th>
        <th class="text-center">Petugas</th>
        <th class="text-center">Detail</th>
      </tr>
    </thead>
    <tbody>

    <% var i = 1 %>
    <% data.forEach(list => { %>
      <tr>
        <td><%= i++ %></td>
        <td><%= list.namabayi %></td>
        <td><%= list.kelamin %></td>
        <td class="text-center"><%= list.umur.hari + ' - ' + list.umur.bulan + ' - ' + list.umur.tahun %></td>
        <td class="text-center"><%= list.umur.umur %></td>

        <% if (!list.Mantri) { %>
          <td> --- </td>
        <% } else { %>
          <td><%= list.Mantri.namamantri %></td>
        <% } %>

        <td class="text-center"><a class='btn btn-info btn-xs' href="/parents/<%= data[0].OrangTua.id %>/<%= list.id %>"><span class="glyphicon glyphicon-edit"></span> Detail</a></td>
      </tr>
    <% }) %>

    </tbody>
  </table>
</div>

</body>
</html>
